@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-scrollbar::-webkit-scrollbar {
  height: 10px; /* Scrollbar height (width in the horizontal direction) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Thumb color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Track color */
}
